@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewBag.message = "Please see below link to edit user info";
}

<div class="text-center">
    @ViewBag.message
    <h1 class="display-4"></h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
